// Place all the styles related to the app_list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: helvetica, arial;
}

.gradient-primary {
  background-color: #3B2F63;
  background-image: -webkit-radial-gradient(0% bottom,   rgba(118, 72, 160, 0.7) 0%, rgba(118, 72, 160, 0) 60%), -webkit-radial-gradient(90% bottom,   #523f8c 0%, rgba(82, 63, 140, 0) 40%), -webkit-radial-gradient(50% top,   rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%), -webkit-radial-gradient(right top,   #794aa2 0%, rgba(121, 74, 162, 0) 57%);
  background-image: radial-gradient(  at 0% bottom, rgba(118, 72, 160, 0.7) 0%, rgba(118, 72, 160, 0) 60%), radial-gradient(  at 90% bottom, #523f8c 0%, rgba(82, 63, 140, 0) 40%), radial-gradient(  at 50% top, rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%), radial-gradient(  at right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
  background-size: auto, auto, 100% 1000px, 100% 1000px;
  background-repeat: no-repeat;
}

#menu {

}

#header {
  color: white;
  height: 192px;
  text-align: center;
}

#header .title {
  padding: 50px;
}


#list {
  margin: 0 auto;
  width: 640px;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.project a {
  display: block;
  padding: 30px;
  padding-left: 45px;
  color: black;
  text-decoration: none;
  background: url('app-icon.png') no-repeat left center;
}

#modal {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  -webkit-box-align: center; -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  display: none;
}

#modal.flexy {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

#modal .content {
  width: 400px;
  padding: 50px;
  background: white;

}